<h2 class="page-header">search Books</h2>
<form action="/books" method = "GET">
<div class="form-row">
    <div class="form-item">
        <label>Title</label>
        <input type="text" name="title" value="<%=searchOptions.title %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Published  After</label>
        <input type="date" name="publishedAfter" value="<%=searchOptions.publishedAfter %>">
    </div>
    <div class="form-item">
        <label>Published  Before</label>
        <input type="date" name="publishedBefore" value="<%=searchOptions.publishedBefore %>">
    </div>
</div >
<div class="form-row form-row-end">
<button  class="btn btn-primary "type="submit">search</button>
</div>
</form>
<br>
<div class="book-cen">
<% books.forEach(book => { %>
    <a href="/books/<%= book.id %>">
        <img height ="150" width= "100" src="<%= book.coverImagePath %>">
    </a>
    <div class="btn-row btn-row-book">
    <a  class =" btn btn-download"href="http://<%= book.link %>">Download now</a>
    </div>
    <h4><%= book.title %> </h4>
    <% }) %>
</div>