<h2 class="page-header"><%= book.title %></h2>
<img width= "100" height = "150" src="<%= book.coverImagePath %>">
<div> Author : <%= book.author.name %> </div>
<% if (locals.user)  { %>
    <div> page Count : <%= book.pageCount %> </div>
    <div> Description : <%= book.description %> </div>
    <div class="btn-row">
    <a class="btn btn-primary" href="http://<%= book.link %>">Download Now</a> 
    
    <a class="btn btn-danger" href="#">Report Broken Link</a>
    </div>
    
    <div class="btn-row">
    <a class="btn btn-primary" href="/books/<%= book.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', {url: `/books/${book.id}`}) %>
    <a class="btn btn-primary" href="/authors/<%= book.author.id %>">View Author</a>
    </div>
<% } else { %>
    <div> page Count : <%= book.pageCount %> </div>
    <div> Description : <%= book.description %> </div>
    <div class="btn-row">
    <a class="btn btn-primary" href="http://<%= book.link %>">Download Now</a>
    <a class="btn btn-danger "href="#">Report Broken Link</a>
    </div>
    <div class="btn-row">
    <a class="btn btn-primary" href="/authors/<%= book.author.id %>">View Author</a>
    </div>
<% } %>